---
lang: en
layout: default
title: "Still Life - Aatu Alatalo"
description_fi: "Mielenkiintoisia asetelmia lienee monessakin paikkaa, kunhan on tarpeeksi kiinnostunut niihin katseensa ja mielenkiintonsa kiinnittämään."
description_en: "Interesting compositions can likely be found in many places, as long as one is curious enough to focus their gaze and attention upon them."
active_nav: "still-life"
mobile_title: "Still Life"
translation_url: /still-life.html
---

<div class="content-wrapper">
    
    <header class="intro-section">
        <div class="intro-title">Still Life</div>
        <div class="intro-grid">
            <div class="intro-text" lang="en">
                Interesting compositions can likely be found in many places, as long as one is curious enough to focus their gaze and attention upon them.
            </div>
        </div>
    </header>

    {% for item in site.data['still-life'] %}
    {% assign filename_no_ext = item.kuva | split: '/' | last | split: '.' | first %}
    {% assign thumb_filename = filename_no_ext | append: '.webp' %}
    {% if item.kuva contains 'http' %}
      {% assign p_thumb = item.kuva | split: '/' | slice: 0, 3 | join: '/' | append: '/thumbs/' | append: thumb_filename %}
      {% assign full_img_url = item.kuva %}
    {% else %}
      {% assign p_thumb = '/assets/thumbnails/' | append: thumb_filename %}
      {% assign full_img_url = '/assets/images/' | append: item.kuva %}
    {% endif %}
    <section class="image-section">
        <div class="image-wrapper">
            <img src="{{ p_thumb }}" data-pswp-src="{{ full_img_url }}" onerror="this.onerror=null;this.src='{{ full_img_url }}';" alt="{% if item.alt %}{{ item.alt }}{% else %}{{ item.otsikko | split: ' / ' | last }}{% endif %}" class="gallery-img" {% if forloop.first %}loading="eager" fetchpriority="high"{% else %}loading="lazy"{% endif %}>
            <div class="project-info">
                <p>{{ item.otsikko | split: ' / ' | first }}</p>
                <p>{{ item.paikka }}</p>
            </div>
        </div>
    </section>
    {% endfor %}
</div>