---
lang: en
layout: default
title: "Still Life - Aatu Alatalo"
description: "Interesting compositions can likely be found in many places, as long as one is curious enough to focus their gaze and attention upon them."
active_nav: "still-life"
mobile_title: "Still Life"
translation_url: /still-life.html
---

<div class="content-wrapper">
    
    <header class="intro-section">
        <div class="intro-title">Still Life</div>
        <div class="intro-grid">
            <div class="intro-text" lang="en">
                Interesting compositions can likely be found in many places, as long as one is curious enough to focus their gaze and attention upon them.
            </div>
        </div>
    </header>

    {% for item in site.data['still-life'] %}
    <section class="image-section">
        <div class="image-wrapper">
            <img src="/assets/images/{{ item.kuva }}" alt="{% if item.alt %}{{ item.alt }}{% else %}{{ item.otsikko | split: ' / ' | last }}{% endif %}" class="gallery-img" loading="lazy">
            <div class="project-info">
                <p>{{ item.otsikko }}</p>
                <p>{{ item.paikka }}</p>
            </div>
        </div>
    </section>
    {% endfor %}
</div>