---
lang: fi
layout: default
title: "V365 — Kuvaprojekti ajasta - Aatu Alatalo"
description_fi: "Vuodenvaihdoksen muutokset valokuvina."
description_en: "The changes of the turn of the year in photographs."
active_nav: "kuvaprojekti-ajasta-v365"
mobile_title: "V365 / Kuvaprojekti ajasta"
translation_url: /en/photo-project-time-v365.html
---

<div class="content-wrapper">
    
    <header class="intro-section">
        <div class="intro-title ajasta-fix">Kuvaprojekti ajasta</div>
        <div class="intro-grid">
            <div class="intro-text" lang="fi">
                Vuodenvaihdoksen muutokset valokuvina.
            </div>
        </div>
    </header>

        {% for item in site.data['kuvaprojekti_ajasta_v365'] %}
        {% if forloop.index <= 2 %}
            {% assign is_lazy = false %}
        {% else %}
            {% assign is_lazy = true %}
        {% endif %}
        {% include category-item.html item=item lazy_load=is_lazy %}
    {% endfor %}
</div>