---
lang: fi
layout: default
title: "Hasselblad Masters 2026 - Aatu Alatalo"
description_fi: "Tämä projekti valittiin Hasselblad Masters 2026 -kilpailun finalistiksi Project//21 -kategoriassa."
description_en: "This project was selected as a finalist in the Hasselblad Masters 2026 competition under the Project//21 category."
active_nav: "masters-2026"
mobile_title: "Hasselblad Masters 2026"
translation_url: /en/masters-2026.html
---

<div class="content-wrapper">
    <header class="intro-section">
        <div class="intro-title">Hasselblad Masters 2026<br><span class="masters-subtitle">Finalist / Project//21</span></div>
        <div class="intro-grid">
            <div class="intro-text" lang="fi">
                Tämä projekti valittiin Hasselblad Masters 2026 -kilpailun finalistiksi Project//21 -kategoriassa.
            </div>
        </div>
    </header>

            {% for item in site.data['masters-2026'] %}
        {% if forloop.index <= 2 %}
            {% assign is_lazy = false %}
        {% else %}
            {% assign is_lazy = true %}
        {% endif %}
        {% include category-item.html item=item lazy_load=is_lazy %}
    {% endfor %}
</div>