---
lang: fi
layout: default
title: "Monochrome — Mustavalkoinen - Aatu Alatalo"
description_fi: "Näemme maailman värein, emmekä tule tarkastelleeksi valon ja varjon merkitystä."
description_en: "We see the world in color and often fail to observe the significance of light and shadow."
active_nav: "mustavalkoinen-sarja"
mobile_title: "Monochrome / Mustavalkoinen"
translation_url: /en/black-and-white-series.html
---

<div class="content-wrapper">
    
    <header class="intro-section">
        <div class="intro-title mustavalkoinen-fix">Mustavalkoinen</div>
        <div class="intro-grid">
            <div class="intro-text" lang="fi">
                Näemme maailman värein, emmekä tule tarkastelleeksi valon ja varjon merkitystä.
            </div>
        </div>
    </header>

        {% for item in site.data['mustavalkoinen-sarja'] %}
    {% assign filename_no_ext = item.kuva | split: '/' | last | split: '.' | first %}
    {% assign thumb_filename = filename_no_ext | append: '.webp' %}
    {% if item.kuva contains 'http' %}
      {% assign p_thumb = item.kuva | split: '/' | slice: 0, 3 | join: '/' | append: '/thumbs/' | append: thumb_filename %}
      {% assign full_img_url = item.kuva %}
    {% else %}
      {% assign p_thumb = '/assets/thumbnails/' | append: thumb_filename %}
      {% assign full_img_url = '/assets/images/' | append: item.kuva %}
    {% endif %}
    <section class="image-section">
        {% if item.alt_text != blank %}
          {% assign alt_content = item.alt_text %}
        {% else %}
          {% assign filename = item.kuva | split: '/' | last | split: '.' | first %}
          {% assign alt_content = filename | replace: '-', ' ' | replace: '_', ' ' | capitalize %}
        {% endif %}
        <div class="image-wrapper">
            <img src="{{ p_thumb }}" data-pswp-src="{{ full_img_url }}" onerror="this.onerror=null;this.src='{{ full_img_url }}';" alt="{{ alt_content }}" class="gallery-img" {% if forloop.first %}loading="eager" fetchpriority="high"{% else %}loading="lazy"{% endif %}>
            <div class="project-info">
                <p>{{ item.otsikko | split: ' / ' | last }}</p>
                <p>{{ item.paikka }}</p>
            </div>
        </div>
    </section>
    {% endfor %}
</div>