---
lang: fi
layout: default
title: "Portraits — Muotokuvia - Aatu Alatalo"
description_fi: "Ihmiskuvaus on yksi valokuvauksen vaativimmista osa-alueista."
description_en: "Portrait photography is one of the most demanding areas of the craft."
active_nav: "raw"
mobile_title: "Portraits / Muotokuvia"
translation_url: /en/raw.html
---

<div class="content-wrapper">
    <header class="intro-section">
        <div class="intro-title">Muotokuvia</div>
        <div class="intro-grid">
            <div class="intro-text" lang="fi">
                Ihmiskuvaus on yksi valokuvauksen vaativimmista osa-alueista. Mielestäni vaikuttavimmat kuvat syntyvät kuvaajan ja kuvattavan välisestä yhteydestä – luottamuksesta, joka mahdollistaa aidon läsnäolon välittymisen lopullisessa teoksessa. Toisaalta vaikka luottamus olisi vähäistä, kuva voi silti onnistua, kun onni potkaisee.
            </div>
        </div>
    </header>

            {% for item in site.data['raw'] %}
        {% if forloop.index <= 2 %}
            {% assign is_lazy = false %}
        {% else %}
            {% assign is_lazy = true %}
        {% endif %}
        {% include category-item.html item=item lazy_load=is_lazy %}
    {% endfor %}
</div>
